<%= stylesheet_link_tag    'quotes/index', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="container__simulator">
    <%= react_component("Simulator", props: @quote_props, prerender: true) %>
    <br>
    <div class="payment-information">
      <div class="payment-information__credit-card-brand">
        <%= image_tag('master_card.svg', class: 'payment-information__card-image') %>
        <%= image_tag('visa_card.svg', class: 'payment-information__card-image') %>
        <%= image_tag('amex_card.svg', class: 'payment-information__card-image') %>
        <%= image_tag('diners_card.svg', class: 'payment-information__card-image') %>
        <%= image_tag('aura_card.svg', class: 'payment-information__card-image') %>
      </div>
      <p class="payment-information__description">Pague com seu cartão de crédito em até 12X</p>
    </div>
  </div>
  <div class="container__summary-information">
    Compare e compre online nas principais casas de câmbio do país
  </div>
</div>
